nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: var(--white);
}

.navbar {
  padding: 3rem 4rem 1rem;
  display: flex;
  justify-content: space-between;
}

ul > li {
  display: inline-block;
}

ul >li:not(:last-of-type) {
  margin-right: 2rem;
}

ul li > a {
  display: inline-block;
  padding: 1rem;
}

ul li > a:hover {
  color: var(--tertiary-color);
}